@{
    ViewBag.Title = "Hi";
}
@section featured {
<div class="jumbotron" > 
    <main class="bs-masthead" id="content" role="main">  
           <section class="featured">
                <div class="col-lg-12 v-center">
    @*                        <hgroup class="title">*@
                                <h1>@ViewBag.Title.</h1>
                                <p class="lead">@ViewBag.Message</p>
                            @*</hgroup>*@
                            <p>
                                @*Beta- Last updated 9/16/13.*@
                                @*<a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                                If you have any questions about ASP.NET MVC visit
                                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.*@
                            </p>        
                </div>

            </section>  
    </main>
</div>
  
}
<h3>Things to come.</h3>
<ol class="round">
    <li class="one">
        <h5>Portfolio</h5>
        Projects and examples. 
    </li>

    <li class="two">
        <h5>Contact Info</h5>
        Linked IN, email, Github...
    </li>

    <li class="three">
        <h5>Knowledge Base</h5>
        Where I can easily find solved issues, tagged for any of my applications.
    </li>
</ol>
